

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    background: var(--second-bg-color);
    min-height: 100vh;
    
}

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2%;
   
}

.about-content-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 49%;
    
}

.about-img{
    width: 100px;
  
}

.about-img img{
    width: 14rem;
    border-radius: 2rem;
    box-shadow: 0 0 2rem var(--main-color);
}

.heading{
    text-align: center;
    font-size: 3rem;
}

.about-content-text h2{
    text-align: left;
    line-height: 1.2;
    
}

h2 span{
    color: var(--main-color);
}

.about-content-text h3{
    font-size: 2.2rem;
}

.about-content-text p{
    font-size: 1rem;
    text-align: justify;
    margin: 1.6rem 0 2.2rem;
}

.about-skill{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill-title{
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3.6rem;
    gap:6rem;
}

.box{
    border-bottom: 3px solid var(--main-color);
     padding: 15px 18px; 
    
    border-radius: 10px 0 0 0;
    background: var(--bg-color);
    cursor: pointer;
    transition: .6s ease-in-out;
     


}

.box:hover{
    transform: scale(1.4);
    box-shadow: 0 0 .6rem var(--main-color);
    
   
}
.box p{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .3rem;
}

.box img{
    width: 2.6rem;
    height: 2.6rem;

}


@media (max-width: 768px){
    .box p{
        font-size: 1rem;
    }
    .cards{
        gap:1.5rem;
    }
    .box{
        padding: 12px 15px;
    }
    .box p{
        font-size: .9rem;
        
    }
    
    .box img{
        width: 1.8rem;
        height: 1.8rem;
    
    }
}



@media (max-width: 450px){
    .cards{
        gap:1rem;
    }

    .box{
        padding: 10px 12px;
    }
}
