*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
.contact{
    height: 100vh;
}
.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.input-box input,
form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.4rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .6rem;
    margin: .7rem 0;
}

.input-box input{
    width: 49%;
}

form textarea{
    resize: none;
}

form .btn{
    margin-top: 2rem;
    cursor: pointer;
    
}

.footer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color)
}

.footer p{
    font-size: .8rem;

}

.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    transition: .6s ease;
    color: var(--main-color);
}

.footer-icon:hover a{
    box-shadow: 0 0 1rem var(--main-color) ;
}

.footer-icon a i{
    font-size: 2.4rem;
    
}

@media (max-width: 991px){
    .contact{
        min-height: auto;
    }
}

@media (max-width: 450px){
    .contact form .input-box input{
        width: 100%;
    }

}